[package]
name = "vrl"
version = "0.1.0"
authors = ["Vector Contributors <vector@datadoghq.com>"]
edition = "2021"
publish = false

[workspace]
members = [
  ".",
  "lib/cli",
  "lib/compiler",
  "lib/core",
  "lib/datadog/filter",
  "lib/datadog/grok",
  "lib/datadog/search-syntax",
  "lib/diagnostic",
  "lib/lookup",
  "lib/parser",
  "lib/proptests",
  "lib/stdlib",
  "lib/tests",
  "lib/value",
  "lib/web-playground"
]


[features]
default = ["expressions"]
expressions = [
  "expr-abort",
  "expr-assignment",
  "expr-function_call",
  "expr-if_statement",
  "expr-literal",
  "expr-op",
  "expr-query",
  "expr-unary",
]
expr-abort = ["compiler/expr-abort"]
expr-assignment = ["compiler/expr-assignment"]
expr-function_call = ["compiler/expr-function_call"]
expr-if_statement = ["compiler/expr-if_statement"]
expr-literal = ["compiler/expr-literal"]
expr-op = ["compiler/expr-op"]
expr-query = ["compiler/expr-query"]
expr-unary = ["compiler/expr-unary"]
test = ["compiler/test"]

[dependencies]
bytes = "1.4.0"
compiler = { package = "vrl-compiler", path = "lib/compiler", default-features = false }
diagnostic = { package = "vrl-diagnostic", path = "lib/diagnostic" }
indoc = "2"
lookup = { path = "lib/lookup" }
ordered-float = "3"
parser = { package = "vrl-parser", path = "lib/parser" }
value = { path = "lib/value", default-features = false }
vrl-core = { path = "lib/core" }

[dev-dependencies]
criterion = "0.4"
indoc = "2"
serde_json = "1"
vrl-stdlib = { path = "lib/stdlib" }
vrl-core = { path = "lib/core", features = ["test"]}

[[bench]]
name = "runtime"
harness = false
